body {
  font-family: 'Grandstander', cursive;
  font-weight: 500;
}

nav {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}




/* colors */
.bg-blue {
  background-color: #41B3D3
  ;
}




/* background-images */